* {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 95vh;
    background-color: #080710;
    color: #ffffff;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    min-width: 360px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    color: #ffffff;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 0px;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    background-color: #DC3545;
    color: #ffffff;
    padding: 15px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
}

.success {
    background-color: #28A745;
    color: #ffffff;
    padding: 15px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.social div {
    height: 0px;
    text-align: center;
    background: #ff0000;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.07);
}